secrets = {
    'ssid' : 'Bun-Bun Piggy Pants',
    'password' : 'mypassword',
    'timezone' : 'America/Chicago', # http://worldtimeapi.org/timezones
    'openweather_token': 'abcabcabcabc',
    'openweather_location': (30.2672, -97.7431),
    'openai_api_key': 'sk-abcabc-abcabc-qw68A',
    'aio_username': 'bunbun',
    'aio_key': 'aio_abcabcabc',
    }
